<nav nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container">
        <a class="navbar-brand" href="#">Meet me</a>

        <!-- Navigation Menu -->
        @if(isLoggedIn?.isLoggedIn) {
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="isLoggedIn?.isLoggedIn">
            <li class="nav-item">
                <a class="nav-link" routerLink="/members" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    Matches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    Lists
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/messages" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    Messages
                </a>
            </li>
        </ul>

        }

        <!-- Account Menu -->
        @if(isLoggedIn?.isLoggedIn) {
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu2"
                data-bs-toggle="dropdown" aria-expanded="false">
                Welcome, {{ isLoggedIn?.userName || 'User' | titlecase }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item" type="button">Edit Profile</button></li>
                <li><button class="dropdown-item" type="button" (click)="logout()">Logout</button></li>
            </ul>
        </div>
        }

        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" *ngIf="!isLoggedIn?.isLoggedIn">
            <input class="form-control me-2" type="text" placeholder="User name" name="userName"
                [(ngModel)]="model.userName" required>
            <input class="form-control me-2" type="password" placeholder="Password" [(ngModel)]="model.password"
                name="password" required>

            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>